name: Push Image to GitHub Container Registry

on:
  workflow_run:
    workflows:
      - "Build and Publish Python Package"
    types:
      - completed

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      packages: write
    steps:
      - name: Download wheel artifact
        uses: actions/download-artifact@v4
        with:
          path: wheels
          merge-multiple: true

      - name: Extract version from wheel
        id: extract_version
        run: |
          # Extract the version from the wheel file name
          wheel_file=$(ls wheels/*.whl)
          echo "Extracting version from $wheel_file"
          wheel_version=$(echo "$wheel_file" | grep -oP '(?<=-)[0-9]+\.[0-9]+\.[0-9]+(?:\.[a-z0-9]+)?(?:\+[a-z0-9]+)?(?=-)')
          docker_version=$(echo "$wheel_version" | tr '+' '-')
          echo "docker_version=$docker_version" >> $GITHUB_OUTPUT

      # Set up QEMU for cross-platform builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set docker image tag
        id: set_tag
        run: |
          # Add latest tag only for stable releases, otherwise add dev tag
          if [[ "${{ github.event.workflow_run.event }}" == "release" ]]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=dev" >> $GITHUB_OUTPUT
          fi

      - name: Lower repository owner
        id: lower_owner
        run: echo "lower_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: |
            ghcr.io/${{ steps.lower_owner.outputs.lower_owner }}/simple-image-gallery:${{ steps.extract_version.outputs.docker_version }}
            ghcr.io/${{ steps.lower_owner.outputs.lower_owner }}/simple-image-gallery:${{ steps.set_tag.outputs.tag }}